.body {
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(135deg, #82b4fe, #6BBBFF);*/
    background-color: #0d1117;
    display: inline-block;
    left:0;
    top:0;
    bottom:0;
    right:0;
    vertical-align: middle;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    position: relative;
}
.toolbar {
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 51px;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #161b22;
}
.toolbar-ul {
    width: 100%;
    height: 51px;
    margin: 0;
    padding: 0;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: inline-block;
    color: #fff;
    text-align: left;
    vertical-align: middle;
}
.img {
    width: 10%;
    height: 51px;
    padding: 0;
    margin: 0 0 0 5%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.text-liBox {
    width: 12%;
    height: 51px;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: inline-block;
}
.toolbar-text {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 51px;
    left:0;
    top:0;
    bottom:0;
    right:0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 51px;
}
a:hover {
    background-color: #21262c;
    color: #bab6b4;
    border-radius: 6px;
}
.master-home-Msg {
    margin: 16px 0;
    padding: 0;
    width: 80%;
    height: 100%;
    background-color: #0d1117;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #30363d;
    border-radius: 8px;
}
h1 {
    font-size: 28px;
    padding: 0;
    margin: 22px 0 22px 40px;
    color: #c9d1d9;
}
h2 {
    font-size: 21px;
    padding: 0;
    margin: 16px 0 16px 40px;
    color: #c9d1d9;
}
p {
    padding: 0;
    margin: 13px 0 13px 40px;
    color: #c9d1d9;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    height: 28px;
}
span {
    height: 28px;
    line-height: 26px;
    background-color: #343942;
    width: 110%;
    border-radius: 6px;
}
.line {
    height: 1px;
    width: 93%;
    text-align: center;
    background-color: #21262d;
    padding: 0;
    margin: 0 auto;
}
.inc-box {
    display: inline-block;
    margin: 16px 0 16px 40px;
    padding: 0;
    background-color: #0d1117;
    color: #8b949e;
    border-left: 5px solid #30363d;
    height: 100%;
    width: 80%;
    vertical-align: middle;
    line-height: 27px;
    font-size: 14px;
}
.language {
    font-size: 14px;
    color: #c9d1d9;
    padding: 0;
    margin: 0;
    font-weight: 500;
    display: inline-block;
}
.link {
    color: #58a6ff;
}
.link:hover {
    color: #58a6ff;
    text-decoration: solid #58a6ff;
    background-color: #0d1117;
}