body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .box {
    height: 80vh;
    width: 76%;
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
      rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    color: #333;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.034em;
    font-family: "Jetbrains Mono";
    overflow-y: scroll;
    text-decoration: none;
  }
  .box- {
    height: 80vh;
    width: 76%;
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
      rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    color: #333;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.034em;
    font-family: "Jetbrains Mono";
    overflow-y: scroll;
    text-decoration: none;
  }
  .box::-webkit-scrollbar {
    display: none;
  }
  p {
    margin: 4px 0px;
  }
  a {
    color: #23a9f2;
    text-align: center;
    text-decoration: none;
  }